# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [39]:
import pandas as pd
import numpy as np
city=['台灣','美國','義大利','中國','日本']
population=np.random.randint(low=100,high=100000,size=len(city))
data = {'國家': city,
        '人口': population}
data = pd.DataFrame(data)
data

    國家     人口
0   台灣   8099
1   美國  70423
2  義大利  46046
3   中國    713
4   日本  56005

In [43]:
print('人口數最多的國家:',data['國家'][data['人口'].idxmax])
print('人口有:',data['人口'].max())

人口數最多的國家: 美國
人口有: 70423